@{
    ViewBag.Title = "| About";
}
<section class="ceta py-5">
    <div class="container-fluid py-5 text-center">
        <h1>How It Works</h1>
        <h6 style="color: #e65c00;" class="pt-3">This is how iAssist works</h6>
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card-body py-5">
                        <i class="fas fa-search" style="font-size: 100px; color: #e65c00;"></i>
                        <h5 class="pt-5">
                            Search Worker / Post Task
                        </h5>
                        <p class="card-text pt-5">You can have a choice if you want to search a specific worker near you or you can post a task</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card-body py-5">
                        <i class="fas fa-balance-scale-right" style="font-size: 100px; color: #e65c00;"></i>
                        <h5 class="pt-5">
                            Bidding
                        </h5>
                        <p class="card-text pt-5">There is a bidding part where you can choose the best bid and worker for you</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card-body py-5">
                        <i class="fas fa-briefcase" style="font-size: 100px; color: #e65c00;"></i>
                        <h5 class="pt-5">
                            Wait for Worker
                        </h5>
                        <p class="pt-5">Wait for the worker to come into your house and do the service or task you need</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
