@model IEnumerable<iAssist.Models.SkilledWorkerFileImage>

@{
    ViewBag.Title = "GetSkilledWorkerFile";
}

<div class="container py-5">
    <h2>Step 2: In this Section Please Upload Valid Id and Proof that you are a Skilled Worker</h2>
    <p style="color:red;">@TempData["Error"]</p>
    <p>
        @Html.ActionLink("Upload Image", "UploadWorkerFile")
    </p>

    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="profile-photo" src="@Url.Content("~/image/RegisterSkilledFile/" +item.FileName)" />
                    @Html.ActionLink("Delete", "DeleteSkilledWorkerFiles", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    @using (Html.BeginForm("GetSkilledWorkerFiles", "User", FormMethod.Post))
    {
        <input type="submit" value="Submit" class="btn btn-default" style="background-color: #e65c00; border:none; color:white;"/>
    }
</div>