
@{
    ViewBag.Title = "SuccessView";
}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-body py-5" style="width:100%;">
                        <h1 class="link-success py-3">
                            Balance have been Successfully Added
                        </h1>
                        <a href="@Url.Action("Index","Balance")" class="btn btn-primary" style="background-color: #e65c00; height:50px;"><span class="py-5">Go Back</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

