@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "ErrorAcceptBid";
}

<div class="container py-5">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">You Don`t Have Enough Balance</h2>
</div>


